/*  || Navigation */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 1;
  font-family: 'Comfortaa', sans-serif;
  padding: 10px 30px;
  font-size: medium;
}

.navigation-links a {
  border-radius: 4px;
  padding: 6px 10px;
}

.navigation-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.navigation-links a:hover {
  background-color: var(--bg);
  color: var(--primary);
  text-shadow: var(--primary) 1px 0 5px;
}

/* || Main layout */

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*  || Greeting sections */
#about {
  height: 100vh;
  justify-content: space-between;
}

.title {
  font-size: 6rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 50px;
}

.about-me p {
  font-size: large;
}

.actions {
  display: flex;
  gap: 30px;
}

.position {
  text-transform: uppercase;
  color: var(--primary);
  font-weight: bold;
}

/* || Project section */
#projects {
  padding: 10rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.project-section-header {
  max-width: 650px;
  font-size: 4rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.project-section-header hr {
  border: 2px solid var(--primary);
  width: 12rem;
}

.project-grid {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  justify-content: center;
  align-items: center;
}

.project:nth-child(even) {
  flex-direction: row-reverse;
}

.project:nth-child(even) img {
  border-radius: 10px 0 0 10px;
}

.project {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 60%;
  height: 40rem;
  justify-content: space-between;
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 50%;
  text-align: start;
}

.project-description p,
.project-description a {
  font-size: small;
}

.project-title {
  font-size: 2.2rem;
}

.view-all {
  border-radius: 24px;
  border: black 1px solid;
  color: black;
}

.code {
  color: white;
  transition: color 0.3s ease-in;
}

.view-all:hover .code {
  color: var(--accent);
}

.project-grid img {
  width: 50%;
  height: 40rem;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}


/*  ||Contact links */

#contact {
  height: 80vh;
  text-align: center;
  flex-direction: column;
}

#contact p {
  font-size: medium;
}

.contact-links {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  font-size: x-large;
}

.contact-links>a {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  margin-right: 3rem;
  color: var(--primary);
  transition: transform 0.3s ease-in;
}

.contact-links>a:hover {
  transform: translateY(8px);
}

.photo {
  position: relative;
  align-self: flex-start;
}

.photo svg {
  fill: var(--primary);
}

#email {
  position: relative;
}

#email:hover .tooltip {
  opacity: 1;
}

/*  || Responsive */
@media screen and (max-width: 400px) {
  h1 {
    font-size: 4rem !important;
  }

  h2 {
    font-size: 3rem !important;
  }

  p {
    font-size: 2rem !important;
  }
}

@media screen and (max-width:1250px){
  #about {
    flex-direction: column-reverse;
  }

  .photo {
    align-self: flex-end;
  }
}